img {
	width: 100%;
}

.jumbotron {
	margin-bottom: 0;
}

.col-md-4 {
	width: 
	width: 33%
	}
.item.active:focus {
	background-color: #5A6874;
}


.btn-sm, .btn-xs {
	padding: 15px 15px;
	font-size: 12px;
    line-height: 2;
	}

